.header{
    color: white;
    width: 100%;
    float: left;
}
h2{
    padding-left: 50px;
}
.group-menu > ul> li >a{
    color:deepskyblue;
    display: block;
    padding: 15px;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
}
.group-menu ul{
    list-style-type: none;
    padding: 0;
    
}
.group-menu{
    margin-top: 5%;
    float: left;
    width:20%;
    height:100%;
    background-color:whitesmoke;
    border-right:2px solid black;
    
}
.renderbody{
    float: left;
    width: 78%;
    height: 100%;
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 5%;
    background-color:white;
}
.book-ticket {
    border-radius: 5px;
    width: 50%;
}
table{
    border-collapse: collapse;
    border: 1px solid black;
    /* margin-left: 50px; */
    text-align: center;
    overflow-y: auto;
    overflow-x: auto;
    /* height: 80%; */
    
}
th{
    
    height: 60px;
    /* padding: 15px; */
    background-color:	#00CED1;
    color: white;
}
td{
   height: 50px;
   padding: 5px;
    vertical-align: bottom;
}
#search{
    
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    height: 30px;
    font-size: 15px;
    width: 20%;
    padding: 10px;
    background-color:white;
    color:black;
}
button > a {
    color: white;
    outline: none;
}
button.fix {
    background-color: red;
    width: 50px;
    border-style: outset;
    border-radius: 5px;
    height: 20px;
    color: white;
    margin: 10px;
    outline: none;
}
button.delete {
    background-color: cadetblue;
    width: 50px;
    border-radius: 5px;
    height: 20px;
    outline: none;
}
.btn{
    
    border-radius: 10px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0 15px;
}
/* .book-ticket {

    align-items: center;
    justify-content: center;
    margin-left:50px;
    margin-top: 50px;
    width: 500px;
    height: 200px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
} */
/* .place {
    display: flex;
    padding: 20px 8px;
}
.go-add {
    padding-right: 10px;
    color:black;
    
    
} */
/* .date {
    display: flex;
    padding: 30px 8px;
} */
/* .date input#ngaydi {
    width: 500px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
} */
.find-ticket {
    display: flex;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    
}
.find-ticket  button {
    border-radius: 10px;
    background-color:black;
    width: 145px;
    border-style: none;
    height: 25px;
    
}
/* .find-ticket button a {
    color:black;
    display: block;
} */
/* .arr-add{
    color: black;
}
.date{
    color: black;
}
.tab{
    margin: 50px;
} */
/* #adress{
    width: 500px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
} */
button#nextBtn, button#prevBtn {
    color: white;
    background-color:black;
    width: 70px;
    height: 30px;
    border: unset;
    border-radius: 5px;
    outline: none;
}
